:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f4f4f4;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #1a6c07;
  text-decoration: inherit;
}
a:hover {
  color: #1cc127;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a6c07;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1cc127;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Helper classes */
.unvisitable, .unvisitable a {
  color: #f4f4f4;
  text-decoration: none;
}

.unvisitable:hover, .unvisitable a:hover {
  color: #f4f4f4;
  text-decoration: none;
}

.z-1 {
  z-index: 1;
}

.position-relative {
  position: relative;
}

.no-hl {
  cursor: default;
  user-select: none;
}

/* Buttons */
.button {
  display: inline-block;
  margin: 1rem;
  padding: 0.8rem 1.6rem;
  background-color: #1a6c07;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

/* Small buttons */
.button.small {
  padding: 0.6rem 1rem;
}

/* Gooey effect */
.gooey-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  contain: layout;
  filter: url(#goo);
}

/* Animation */
.slide-in {
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInUp 0.8s ease forwards;
}
.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 1.6s;
}
.delay-3 {
  animation-delay: 2.0s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}